@model LibraryWebApplication.Models.Bootcamp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bootcamp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BootcampId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
