@model IEnumerable<LibraryWebApplication.Models.Tournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Турніри</h1>

<p>
    <a asp-action="Create">Додати турнір</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Awards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regulations)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regulations)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TournamentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TournamentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TournamentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
