@model IEnumerable<LibraryWebApplication.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Гравці</h1>

<p>
    <a asp-action="Create">Додати гравця</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statistic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Awards)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Club)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statistic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awards)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.NameClub)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
